{% extends "base.html.twig" %}

{% block title %}Supprimer ingrédient{% endblock %}
{% block body %}
    <h1>Ingrédient à supprimer</h1>

        {{ form_start(formView) }}
        {{ form_errors(formView) }} 

        <div class="row">
            <div class="col pb-3">
                {# {{ form_row(formView.name) }} #}
            </div>
            <div class="col"></div>
        </div>

        <button type="submit" class="btn btn-primary">Supprimer</button>
        
        {# {{ form_end(formView) }} #}
    


{% endblock %}