{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le dashboard{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2>Pizzas</h2>
            <button type="submit" class="btn btn-primary mt-2 mb-2" onclick="location.href='/admin/pizza/create'">Ajouter une pizza</button>
            <button type="submit" class="btn btn-primary mt-2 mb-2" onclick="location.href='/admin/pizza/edit'">Modifier une pizza</button>
            <button type="submit" class="btn btn-primary mt-2 mb-2" onclick="location.href='/admin/pizza/delete'">Supprimer une pizza</button>
        </div>
        <div class="col">
            <h2>Ingrédient</h2>
            <button type="submit" class="btn btn-primary mt-2 mb-2" onclick="location.href='/admin/ingredient/create'">Ajouter un ingrédient</button></a>
            <button type="submit" class="btn btn-primary mt-2 mb-2" onclick="location.href='/admin/ingredient/edit'">Modifier un ingrédient</button>
            <button type="submit" class="btn btn-primary mt-2 mb-2" onclick="location.href='/admin/ingredient/delete'">Supprimer un ingrédient</button>
        </div>
    </div>
{% endblock %}
