{% extends 'base.html.twig' %}

{% block title %}Connexion à Pizza Planet{% endblock %}
{% block navbar %}{% endblock %}

{% block body %}

<h1>Bienvenue chez Pizza Planet</h1>
<div class="row mb-2">
    {{ form_row(loginFormView.email) }}
</div>
{{ form_row(loginFormView.password) }}
<button type="submit" class="btn btn-primary btn-sm mt-2">Connexion</button>
{{ form_end(loginFormView) }}

{% endblock %}
