<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="nav-link active" href="#">{{ currentUser.fullname }}
                <span class="visually-hidden">(current)</span>
            </a>
            </li>
            {% if currentUser.roles | length is same as 1 %}
                <li class="nav-item">
                <a class="nav-link" href="/">Nos Pizzas</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Mes allergies</a>
                </li>
            {% endif %}
            {% for role in currentUser.roles %}
                {% if 'ROLE_ADMIN' in role %}
                    <li class="nav-item">
                    <a class="nav-link" href="/">Voir l'espace public</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">Voir l'espace admin</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" onclick="window.location.href='/login';">Se connecter</button>
        </div>
    </div>
</nav>
        